<!-- Overridden: show a few recommended papers instead of trending tags. -->

{% assign papers = site.posts | where_exp: 'p', 'p.link' %}
{% assign rec = papers | sample: 5 %}

{% if rec.size > 0 %}
  <section id="access-recommended">
    <h2 class="panel-heading">Recommended papers</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for post in rec %}
        <li class="text-truncate lh-lg">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
